.box-1 {
    position: relative;
    background-color: red;
    height: 150px;
    width: 150px;
    top: 50px;
    left: 50px;     
    margin: 0 auto; 
    
}

.box-2 {
    position: absolute;
    background-color: green;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element {
    position: sticky;
    background-color: purple;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 0 auto;
}

