@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Pacifico&display=swap');

h1, h2, p {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.Main-Card1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

.card1{
    font-weight: bold;
    font-size: 30px;
}

.card2 {
    width: 500px;
}

p {
    font-weight: normal;
}

.a1 {
    color: green;
}

.a2 {
    color: black;
    font-weight: bold;
}

.Main-Card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding: 40px;
}

.card3 {
    font-size: 20px;
}

.card4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.card5,
.card6,
.card7,
.card8,
.card9 {
    background-color: #B5CBB7;
    border: 2px solid black;
    border-radius: 24px;
    padding: 10px;
}

.Main-Card3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.img1,
.img2,
.img3,
.img4 {
    border: 2px solid black;
    padding: 20px;
    background-color: #B5CBB7;
    border-radius: 24px;
}

.Main-Card4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.Guide1,
.Guide2,
.Guide3,
.Guide4 {
    border: 2px solid black;
    padding: 20px;
    background-color: #B5CBB7;
    border-radius: 24px;
}

.Main-Card5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 15px;
    padding: 40px; 
}

.Main-Card6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.review1 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #07020D;
    width: 300px;
    height: 300px;
    border: 7px solid orange;
    border-radius: 24px;
}

.review2 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #07020D;
    width: 300px;
    height: 300px;
    border: 7px solid orange;
    border-radius: 24px;
}

.review3 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #07020D;
    width: 300px;
    height: 300px;
    border: 7px solid orange;
    border-radius: 24px;
}

.review4 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #07020D;
    width: 300px;
    height: 300px;
    border: 7px solid orange;
    border-radius: 24px;
}

.review5 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #07020D;
    width: 300px;
    height: 300px;
    border: 7px solid orange;
    border-radius: 24px;
}


@media screen and (max-width:768px) {

    .card2 {
        display: none;
    }

}









