@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Pacifico&display=swap');

h1, h2 {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding: 40px;
}

/* Contenitore principale */
.container {
    width: 80%;
    height: 280px;
    border: 2px solid #4b4b4b;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    gap: 30px;
    background: #fff;
}

/* Sezione sinistra */
.left {
    display: flex;
    gap: 15px;
}

.big-box {
    display: flex;
    width: 250px;
    height: 220px;
    border: 2px solid #4b4b4b;
    border-radius: 20px;
}

.long-box {
    display: flex;
    align-items: flex-start;
}

.lb {
    background-color: #DFF8EB;
    margin: 10px;
    border: 2px solid #4b4b4b;
    width: 110px;
    height: 190px;
    border-radius: 15px;
}

.small-boxes {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 15px;
}

.small-box {
    background-color: #74776B;
    margin: 2px;
    width: 90px;
    height: 95px;
    border: 2px solid #4b4b4b;
    border-radius: 15px;
}

/* Sezione destra */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 10px 0 5px;
    font-size: 26px;
}

h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: normal;
}

/* Linea */
.divider {
    height: 2px;
    background: #4b4b4b;
    margin-bottom: 25px;
}

/* Parte bassa */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 15px;
}

.icon {
    background-color: #A28F9D;
    width: 45px;
    height: 45px;
    border: 2px solid #4b4b4b;
    border-radius: 12px;
}

.button {
    background-color: #48483A;
    width: 110px;
    height: 45px;
    border: 2px solid #4b4b4b;
    border-radius: 15px;
}
