.main-container {
    display: flex;
    justify-content: center;
}

.container-adidas {
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    padding: 10px;
    width: 400px;
    height: 550px;
    border: solid 2px black;
}

.buttons {
    position: relative;
    bottom: 160px;
    left: 20px;
    display: flex;
    gap: 20px;
}

.button1,
.button2,
.button3 {
    width: 100px;
}

.button3 {
    background-color: red;
    color: white;
}

.button_ciao {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30px;
}


